
     table, th  {
        border: 3px solid black; width:25%;
        text-align: center;
    }
    td {
        border: 2px solid black; width:25%;
        text-align: center;
    }
    td {
        border: 2px solid black; width:25%;
        text-align: center;

    }

    td {
        border: 2px solid black; width:25%;
        text-align: center;

    }
    td { 
        background-color:white;width:25%;
        text-align: center;

    }
       
